{{! BEGIN-SNIPPET title-slide }}
<h1 class="title-slide">
  living<br>
  {{moving-word "an"  ~}}
  {{moving-word "i"   ~}}
  {{moving-word "mat"  }}ion
</h1>
{{! END-SNIPPET }}
<div class="subhead">
  Edward Faulkner
  &lt;edward@eaf4.com&gt;
</div>
<div class="subhead">
  <img style="height: 1.5rem" src="{{rootURL}}images/github.png"> ef4
</div>
<div class="subhead">
  <img style="height: 1.5rem" src="{{rootURL}}images/twitter.png"> eaf4
</div>
